.category-container {
    border: 3px solid rgb(0, 0, 0); 
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(224, 153, 21);
    max-width: 600px;
    margin: 20px auto; 
    text-align: center;
}

.category-container h1 {
    margin-bottom: 10px;
    color: white;
}

.category-container p {
    font-size: 1.1rem;
}
